h1 {
  font-family: var(--font-heading);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 6rem;
}

h3 {
  font-size: 2rem;
  margin-top: 0;
}

[class*=button] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  transition: all var(--ease) var(--duration);
}
[class*=button] svg use {
  transition: all var(--ease) var(--duration);
}
@media screen and (min-width: 576px) {
  [class*=button] {
    width: fit-content;
  }
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-stack);
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1.6rem;
  min-height: 100%;
  font-style: normal;
  background: var(--primary);
  color: var(--text);
}

header#top {
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 150;
}

header#top,
footer#bottom > *,
.layout-grid {
  --padding-inline: 3rem;
  --content-max-width: 60rem;
  --breakout-max-size: 126rem;
  --breakout-size: calc((var(--breakout-max-size) - var(--content-max-width)) / 2);
  display: grid;
  grid-template-columns: [full-width-start] minmax(var(--padding-inline), 1fr) [breakout-start] minmax(0, var(--breakout-size)) [content-start] min(100% - var(--padding-inline) * 2, var(--content-max-width)) [content-end] minmax(0, var(--breakout-size)) [breakout-end] minmax(var(--padding-inline), 1fr) [full-width-end];
}
@media screen and (max-width: 767px) {
  header#top,
  footer#bottom > *,
  .layout-grid {
    --padding-inline: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  header#top,
  footer#bottom > *,
  .layout-grid {
    --content-max-width: 70rem;
    --padding-inline: 3rem;
  }
}
@media screen and (min-width: 992px) {
  header#top,
  footer#bottom > *,
  .layout-grid {
    --content-max-width: 110rem;
    --breakout-max-size: 168rem;
  }
}
@media screen and (min-width: 1440px) {
  header#top,
  footer#bottom > *,
  .layout-grid {
    --content-max-width: 110rem;
  }
}
header#top.two-third,
footer#bottom > *.two-third,
.layout-grid.two-third {
  --content-max-width: 108rem;
  --breakout-max-size: 128rem;
}
header#top.half,
footer#bottom > *.half,
.layout-grid.half {
  --content-max-width: 72rem;
  --breakout-max-size: 84rem;
}
header#top > :not(.breakout, .full-width),
footer#bottom > * > :not(.breakout, .full-width),
.layout-grid > :not(.breakout, .full-width) {
  grid-column: content;
}
header#top > .breakout,
footer#bottom > * > .breakout,
.layout-grid > .breakout {
  grid-column: breakout;
}
header#top > .full-width,
footer#bottom > * > .full-width,
.layout-grid > .full-width {
  grid-column: full-width;
}
header#top img.wrapper-background,
footer#bottom > * img.wrapper-background,
.layout-grid img.wrapper-background {
  grid-column: auto;
}

footer#bottom {
  background: var(--primary);
}
footer#bottom .footer-content {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
  footer#bottom .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 992px) {
  footer#bottom .footer-content {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
footer#bottom .copyright {
  text-align: center;
  color: var(--text-light);
}

@font-face {
  font-display: swap;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/nunito/nunito-sans-2.woff2") format("woff2"), url("../fonts/nunito/nunito-sans-2.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "Genty sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/genty-sans/genty-sans.woff2") format("woff2"), url("../fonts/genty-sans/genty-sans.woff") format("woff");
}
:root {
  --primary: #FFFAE3;
  --secondary: #F7567C;
  --tertiary: #99E1D9;
  --text: #5D576B;
  --text-light: #fff;
  --link:#5D576B;
  --background: #FFFAE3;
  --background-dark: #5D576B;
  --background-light: #FCFCFC;
  --box-shadow: .1rem .3rem 2rem .1rem rgba(16, 49, 59, 0.62);
  --radius-round: 50%;
  --radius-sm: 1rem;
  --radius-md: 3rem;
  --ease: ease-in-out;
  --duration: .3s;
  --placeholder: #d3d3d3;
  --font-stack: "Nunito", Arial, monospace, sans-serif;
  --font-heading: "Genty sans", Arial, monospace, sans-serif;
}

/*# sourceMappingURL=style.css.map */
