@use 'helpers/mixins' as *;

h1 {
    font-family: var(--font-heading);
}

h1,h2,h3,h4,h5,h6 {
    font-family:  var(--font-heading);
}

h1 {
    font-size: 6rem;
}

h3 {
    font-size: 2rem;
    margin-top: 0;
}


[class*="button"] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    transition: all var(--ease) var(--duration);

    svg use {
        transition: all var(--ease) var(--duration);
    }

    @include respond-to(from-sm) {
        width: fit-content;
    }

    &:hover, &:focus {

    }
}

